<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--======== CSS ======== -->
    <link rel="stylesheet" href="~/css/_Layout2.css">

    <!--===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <title>@ViewData["Title"]</title>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img style="margin-right: 5px;" src="~/img/logo.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">Alto Chicama</span>
                    <span class="profession">Servicios Ambientales</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a asp-controller="Repositorio" asp-action="Index">
                            <i class='bx bx-folder-open icon'></i>
                            <span class="text nav-text">Repositorios</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-controller="RegistroEmpresa" asp-action="Index">
                            <i class='bx bx-user-plus icon'></i>
                            <span class="text nav-text">Registrar</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-controller="Upload" asp-action="Index">
                            <i class='bx bx-upload icon'></i>
                            <span class="text nav-text">Subir Archivos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a asp-controller="Admin" asp-action="Logout">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Cerrar Sesión</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Modo Oscuro</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    @RenderBody()
    <script src="~/js/_Layout2.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
