<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <!-- DataTables CSS Local -->
    <link rel="stylesheet" href="~/lib/DataTables/Table/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/lib/DataTables/Buttons/buttons.dataTables.min.css">
    <link rel="stylesheet" href="~/lib/DataTables/ColResize/jquery.dataTables.colResize.css">
    <link rel="stylesheet" href="~/lib/DataTables/Fixed/fixedColumns.dataTables.min.css">
    <link rel="stylesheet" href="~/lib/Buttons-2.3.6/css/buttons.bootstrap4.min.css">

    <!-- SweetAlert2 CSS -->
    <link href="~/css/cdn.jsdelivr.net_npm_sweetalert2@11.7.12_dist_sweetalert2.min.css" rel="stylesheet">

    <!-- Estilos Locales -->
    <link rel="stylesheet" href="~/css/_Layout2.css">

    <title>@ViewData["Title"]</title>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img style="margin-right: 5px;" src="~/img/logo.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">Alto Chicama</span>
                    <span class="profession">Servicios Ambientales</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Buscar...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a asp-controller="Repositorio" asp-action="Index">
                            <i class='bx bx-folder-open icon'></i>
                            <span class="text nav-text">Repositorios</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-controller="Empresa" asp-action="Index">
                            <i class='bx bx-user-plus icon'></i>
                            <span class="text nav-text">Registrar</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-controller="Upload" asp-action="Index">
                            <i class='bx bx-upload icon'></i>
                            <span class="text nav-text">Subir Archivos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class=""> <a asp-controller="Admin" asp-action="Logout"><i class='bx bx-log-out icon'></i> <span class="text nav-text">Cerrar Sesión</span></a></li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Modo Oscuro</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <!-- Scripts de la Página -->
    @await RenderSectionAsync("Scripts", required: false)

    @RenderBody()

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Popper.js -->
    <script src="~/lib/popper/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- DataTables JS Local -->
    <script src="~/lib/DataTables/Table/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/Buttons/buttons.dataTables.min.js"></script>
    <script src="~/lib/DataTables/ColResize/jquery.dataTables.colResize.js"></script>
    <script src="~/lib/DataTables/Fixed/dataTables.fixedColumns.min.js"></script>

    <!-- Export Table Buttons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script src="~/lib/Buttons-2.3.6/js/buttons.bootstrap4.js"></script>

    <!-- SweetAlert2 JS -->
    <script src="~/js/cdn.jsdelivr.net_npm_sweetalert2@11.7.12_dist_sweetalert2.all.min.js"></script>

    <!-- Otros Scripts -->
    <script src="~/lib/chart/chart.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/pdfmake-0.2.7/pdfmake.min.js"></script>
    <script src="~/lib/jsPDF/jspdf.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/_Layout2.js"></script>
    <script src="~/lib/animate/"></script>

</body>
</html>
