@{
    ViewData["Title"] = "Precios";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/selector.css">
    <link rel="stylesheet" href="~/css/empresa.css">
    <link rel="stylesheet" href="~/css/documentos.css">
    <link rel="stylesheet" href="~/css/alert.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    
    <main class="home">
        <section>
            <div class="row" style="margin:0px">

                <div class="row" style="margin-bottom:10px !important;">
                    <div class="subscribe">
                        <br>
                        <div class="submit-btn">CONTABILIDAD DE DEUDAS</div>
                    </div>
                </div>

                <div class="container mt-3">
                    <div class="row align-items-center">
                        <div class="col-md-7 d-flex justify-content-end">
                            <label class="input-group-text" for="input_transportista">Transportista</label>
                            <select id="input_transportista" class="js-example-placeholder-single js-states form-control">
                                <option></option> <!-- Opción vacía -->
                            </select>

                        </div>

                        <div class="col-md-3 d-flex justify-content-end">
                            <label class="input-group-text" for="input_estado">Estado</label>
                            <select class="form-select" id="input_estado">
                                <option value="" disabled selected>Seleccionar el estado</option>
                                <option value="1">Pagado</option>
                                <option value="0">Por Pagar</option>
                            </select>
                        </div>

                        <div class="col-md-2 d-flex justify-content-end">
                            <button id="btnConsultar" class="btn btn-primary me-2 bg-custom">Consultar</button>
                            <button id="btnConsultar2" class="btn btn-primary bg-custom" onClick="window.location.reload(true)">
                                <i class='bx bx-refresh'></i>
                            </button>
                        </div>
                    </div>
                </div>



                <div style="padding-bottom: 9px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-sm custom-table" id="table_empresa">
                                    <thead style="color: #023E73;">
                                        <tr>
                                            <th style="text-align: center; vertical-align: middle;">N° de Certificado</th>
                                            <th style="width: 370.688px;text-align: center; vertical-align: middle;">Nombre del Documento</th>
                                            <th style="text-align: center; vertical-align: middle;">Nombre de Empresa</th>
                                            <th style="text-align: center; vertical-align: middle;">Transportista</th>
                                            <th style="text-align: center; vertical-align: middle;">Deuda</th>
                                            <th style="text-align: center; vertical-align: middle;width:65px;">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tb_documento"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">

                    <div class="col-md-3 d-flex justify-content-end" style="margin: 0 auto !important; margin-bottom:20px !important">
                        <label class="input-group-text" for="input_empresa">Resumen:</label>
                    </div>

                    <div class="col-md-4 d-flex justify-content-end" style="margin: 0 auto !important; margin-bottom:20px !important">
                        <label class="input-group-text" for="input_empresa">Ganancia Total</label>
                        <input class="" id="input_deuda2" style="padding: 12px !important" disabled />
                    </div>

                    <div class="col-md-4 d-flex justify-content-end" style="margin: 0 auto !important; margin-bottom:20px !important">
                        <label class="input-group-text" for="input_empresa">Deuda Total</label>
                        <input class="" id="input_deuda3" style="padding: 12px !important" disabled />
                    </div>


                </div>

                <div id="precio_empresa" style="display:none;">
                    <div class="col-md-4 d-flex justify-content-end" style="margin: 0 auto !important; margin-bottom:20px !important">
                        <label class="input-group-text" id="label_deuda" for="input_deuda">
                            Deuda Total del Transportistaﾠ<span id="nombre_transportista" style="font-weight: bold;"></span>ﾠ:
                        </label>
                        <input class="" id="input_deuda" style="padding: 12px !important" disabled />
                    </div>
                </div>

            </div>
        </section>
    </main>

    <!-- JS Personalizado -->
    <script src="~/config.js"></script>
    <script type="text/javascript" src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/js_jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/precios.js?v=2.0.0"></script>
    
</body>
</html>