@{
    ViewData["Title"] = "Generador";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    body {
        font-family: Arial, sans-serif !important;
        max-width: 800px !important;
        margin: 0 auto !important;
        padding: 20px !important;
    }

    form {
        display: flex !important;
        flex-direction: column !important;
    }

    label {
        margin-top: 10px !important;
    }

    input,
    textarea,
    select {
        margin-bottom: 10px !important;
        padding: 5px !important;
    }

    button {
        background-color: #4caf50 !important;
        color: white !important;
        padding: 10px !important;
        border: none !important;
        cursor: pointer !important;
        margin-top: 10px !important;
    }

        button:hover {
            background-color: #45a049 !important;
        }

    table {
        width: 100% !important;
        border-collapse: collapse !important;
        margin-top: 20px !important;
    }

    th,
    td {
        border: 1px solid #ddd !important;
        padding: 8px !important;
        text-align: left !important;
    }

    th {
        background-color: #f2f2f2 !important;
    }

    .form-container {
        display: none;
    }
</style>

<section>
    <h1>Seleccione un PDF</h1>
    <button onclick="showForm('pdfResiduos')">PDF RESIDUOS SOLIDOS</button>
    <button onclick="showForm('pdfAguas')">PDF AGUAS</button>

    <div id="qrcode" style="margin: 20px;"></div>


    <div id="pdfResiduos" class="form-container">
        <h1>Formulario para Certificado de Valorización</h1>
        <form id="formResiduos">
            <!-- Campos del formulario para residuos sólidos -->
            <label for="codigoEmpresa">Número de Certificado:</label>
            <input type="text" id="codigoEmpresa" name="codigoEmpresa" required />

            <label for="opcion">Seleccione una opción:</label>
            <select id="opcion" name="opcion" required>
                <option value="VALORIZACIÓN DE RESIDUOS DE CONSTRUCCIÓN Y DEMOLICIÓN – APROVECHABLES">
                    Opción 1: VALORIZACIÓN DE RESIDUOS DE CONSTRUCCIÓN
                </option>
                <option value="VALORIZACIÓN DE RESIDUOS SOLIDOS – APROVECHABLES">
                    Opción 2: VALORIZACIÓN DE RESIDUOS SOLIDOS – APROVECHABLES
                </option>
                <option value="VALORIZACIÓN DE RESIDUOS INORGÁNICOS APROVECHABLES">
                    Opción 3: VALORIZACIÓN DE RESIDUOS INORGÁNICOS APROVECHABLES
                </option>
                <option value="DESTRUCCIÓN Y VALORIZACIÓN DE DESMEDROS">
                    Opción 3: DESTRUCCIÓN Y VALORIZACIÓN DE DESMEDROS
                </option>
                <option value="VALORIZACIÓN DE LODOS NO PELIGROSOS">
                    Opción 4: VALORIZACIÓN DE LODOS
                </option>
            </select>

            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required />

            <label for="numeroGuia">N° de Guía:</label>
            <input type="text" id="numeroGuia" name="numeroGuia" required />

            <label for="empresa">Empresa Transportista:</label>
            <select id="empresa" name="empresa" required>
            </select>

            <label for="tipoResiduoTitulo">Seleccione una opción de RESIDUO:</label>
            <select id="tipoResiduoTitulo" name="tipoResiduoTitulo" required>
                <option value="Tipo de Residuo">Opción 1: Tipo de Residuo</option>
                <option value="Tipo de Residuo Sólido">
                    Opción 2: Tipo de Residuo Sólido
                </option>
                <option value="Tipo de Residuos Orgánicos">
                    Opción 3: Tipo de Residuos Orgánicos
                </option>
            </select>

            <label for="tipoRCD">Tipo de Residuo:</label>
            <input type="text" id="tipoRCD" name="tipoRCD" required />

            <label for="toneladas">TN:</label>
            <input type="number" id="toneladas" name="toneladas" required />

            <label for="residuos">Dirección de Residuos:</label>
            <textarea id="residuos" name="residuos" rows="4" required></textarea>

            <label for="nomEmpresa">Nombre de la empresa:</label>
            <select id="nomEmpresa" name="Nombre de la empresa:"></select>

            <label for="ruc">RUC:</label>
            <input type="number" id="ruc" name="ruc" required disabled/>

            <label for="firma">Firma de la empresa (imagen):</label>
            <input type="file" id="firma" name="firma" accept="image/*" />

            <label for="qr">QR (imagen):</label>
            <input type="file" id="qr" name="qr" accept="image/*" />

            <button type="button" onclick="generarPDF('pdfResiduos')">
                Generar PDF
            </button>
        </form>
    </div>

    <div id="pdfAguas" class="form-container">
        <h1>Formulario para Certificado de Valorización</h1>
        <form id="formAguas">
            <!-- Campos del formulario para aguas -->
            <label for="codigoEmpresa1">Número de Certificado:</label>
            <input type="text" id="codigoEmpresa1" name="codigoEmpresa1" required />

            <label for="opcion1">Seleccione una opción:</label>
            <select id="opcion1" name="opcion1" required>
                <option value="TRATAMIENTO DE LÍQUIDOS RESIDUALES">
                    Opción 2: TRATAMIENTO DE LÍQUIDOS
                </option>
                <option value="TRATAMIENTO DE GRASAS RESIDUALES DOMÉSTICAS">
                    Opción 3: TRATAMIENTO DE GRASAS
                </option>
                <option value="TRATAMIENTO DE AGUAS RESIDUALES – TIPO DOMÉSTICAS">
                    Opción 4: TRATAMIENTO DE AGUAS
                </option>
            </select>

            <label for="fecha1">Fecha:</label>
            <input type="date" id="fecha1" name="fecha1" required />

            <label for="numeroGuia1">N° de Guía:</label>
            <input type="text" id="numeroGuia1" name="numeroGuia1" required />

            <label for="empresa1">Empresa Transportista:</label>
            <select id="empresa1" name="empresa1" required>
            </select>

            <label for="tipoAguaTitulo">Seleccione una opción de RESIDUO:</label>
            <select id="tipoAguaTitulo" name="tipoAguaTitulo" required>
                <option value="Tipo de Agua Residual">
                    Opción 1: Tipo de Agua Residual
                </option>
                <option value="Tipo de Residuo Líquido">
                    Opción 2: Tipo de Residuo Líquido
                </option>
            </select>

            <label for="tipoAgua">Tipo de Residuo:</label>
            <input type="text" id="tipoAgua" name="tipoAgua" required />

            <label for="metros3">M³:</label>
            <input type="number" id="metros3" name="metros3" required />

            <label for="residuos1">Dirección de Residuos:</label>
            <textarea id="residuos1" name="residuos1" rows="4" required></textarea>

            <label for="nomEmpresa1">Nombre de la empresa:</label>
            <select id="nomEmpresa1" name="Nombre de la empresa:"></select>

            <label for="ruc1">RUC:</label>
            <input type="number" id="ruc1" name="ruc1" required disabled/>

            <label for="firma1">Firma de la empresa (imagen):</label>
            <input type="file" id="firma1" name="firma1" accept="image/*" />

            <label for="qr1">QR (imagen):</label>
            <input type="file" id="qr1" name="qr1" accept="image/*" />

            <button type="button" onclick="generarPDF('pdfAguas')">
                Generar PDF
            </button>
        </form>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="~/config.js"></script>
<script src="~/js/generador.js"></script>