@using System.Security.Claims;
@{
    ViewData["Title"] = "Repositorio";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<script type="text/javascript">
    window.userId = '@userId';  // Asigna userId a una propiedad global de window
</script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/empresa.css">
<link rel="stylesheet" href="~/css/documentos.css">
<link rel="stylesheet" href="~/css/alert.css">
<!-- JS Libraries -->
<script src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>

<!-- JS Personalizado -->
<script src="~/config.js"></script>

<section class="home">
    <main>
        <div class="row" style="margin:0px">
            <div class="subscribe">
                <br>
                <div class="submit-btn">DOCUMENTOS</div>
            </div>
            <div class="container">
                
            </div>

            <div style="padding-bottom: 9px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-sm custom-table" id="table_empresa">
                                <thead style="color: #023E73;">
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre del Documento</th>
                                        <th>Nombre de Empresa</th>
                                        <th>Transportista</th>
                                        <th style="width:65px;">Estado</th>
                                        <th>Ver PDF</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tb_documento"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="~/js/js_jquery.dataTables.min.js"></script>
    <script src="~/config.js"></script>
    <script src="~/js/repositorio.js"></script>
</section>