@{
    ViewData["Title"] = "Repositorio";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="home">
    <div class="text">Dashboard Sidebar</div>
    <div class="text">canicas</div>
</section>