@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href="~/css/upload.css" rel="stylesheet" />
    <style>

        .plate-container {
            margin-bottom: 15px; /* Espacio entre matrículas */
        }

        .plate-row {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px !important;
        }

        .plate-title {
            font-size: 18px;
            margin-right: 10px;
            font-weight: bold;
        }

        .plate-input {
            width: 40px;
            height: 40px;
            text-align: center;
            font-size: 24px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

            .plate-input:focus {
                outline: none;
                border-color: #17795E;
            }

        span {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <section class="home">
        <main>
            <div class="row" style="margin: 0;">
                <div class="subscribe text-center">
                    <br>
                    <div class="submit-btn">EMPRESAS</div>
                </div>
            </div>
        </main>

        <div class="d-flex justify-content-center align-items-center" style="margin-top: 40px !important">
            <div class="container text-center">
                <h2>Carga de Documentos</h2>
                <p class="subtitle">No olvide especificar la empresa</p>
                <form id="file-upload-form" class="uploader">
                    <input id="file-upload" type="file" name="fileUpload" accept="application/pdf" class="form-control-file" />
                    <label for="file-upload" id="file-drag">
                        <div id="start">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <div>Seleccione un archivo PDF</div>
                            <div id="notpdf" class="hidden">Por favor seleccione solo archivos PDF</div>
                            <span id="file-upload-btn" class="btn btn-primary">Seleccione un PDF</span>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages"></div>
                            <progress class="progress" id="file-progress" value="0">
                                <span>0</span>%
                            </progress>
                        </div>
                    </label>
                    <div id="pdf-preview" class="hidden">
                        <i class="far fa-file-pdf" aria-hidden="true"></i>
                        <p id="pdf-file-name"></p>
                    </div>
                    <button type="submit" id="upload-btn" class="btn btn-success mt-3">Subir PDF</button>
                </form>
                <div class="input-group mt-3">
                    <label class="input-group-text" for="input_empresa">Empresa</label>
                    <select class="form-select" id="input_empresa">
                        <!-- Opciones de empresa -->
                    </select>
                </div>
                <div class="input-group mt-3">
                    <label class="input-group-text" for="input_transportista">Transportista</label>
                    <select class="form-select" id="input_transportista">
                        <!-- Opciones de empresa -->
                    </select>
                </div>
                <div class="input-group mt-3">
                    <label class="input-group-text" for="select_matriculas">N° Matrículas</label>
                    <select class="form-select" id="select_matriculas">
                        <option value="" disabled selected>Seleccione el # de Matrículas...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>

                <!-- Contenedor donde se agregan las entradas dinámicamente -->
                <div id="matriculas_container" class="mt-3"></div>

            </div>
        </div>

        <script src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>
        <!-- JS Personalizado -->
        <script src="~/config.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>

        <script>
            document.getElementById('select_matriculas').addEventListener('change', function () {
                const matriculasContainer = document.getElementById('matriculas_container');
                const numberOfMatriculas = parseInt(this.value);

                matriculasContainer.innerHTML = '';

                for (let i = 1; i <= numberOfMatriculas; i++) {
                    const plateDiv = document.createElement('div');
                    plateDiv.classList.add('plate-container');

                    plateDiv.innerHTML = `
                            <div class="plate-row">
                                <div class="plate-title">Matrícula ${i} :</div>
                                <input type="text" maxlength="1" class="plate-input" id="char${i}_1" autofocus>
                                <input type="text" maxlength="1" class="plate-input" id="char${i}_2">
                                <input type="text" maxlength="1" class="plate-input" id="char${i}_3">
                                <span>-</span>
                                <input type="text" maxlength="1" class="plate-input" id="num${i}_1">
                                <input type="text" maxlength="1" class="plate-input" id="num${i}_2">
                                <input type="text" maxlength="1" class="plate-input" id="num${i}_3">
                            </div>
                        `;

                    matriculasContainer.appendChild(plateDiv);
                }

                function updatePlate(plateIndex) {
                    const plateInputs = document.querySelectorAll(`#char${plateIndex}_1, #char${plateIndex}_2, #char${plateIndex}_3, #num${plateIndex}_1, #num${plateIndex}_2, #num${plateIndex}_3`);
                    const plateValue =
                        Array.from(plateInputs).map(input => input.value.toUpperCase()).join('');

                    // Update the plate value directly in the plate row
                    const plateRow = document.querySelector(`.plate-container:nth-of-type(${plateIndex}) .plate-row`);
                    plateRow.querySelectorAll('.plate-input').forEach((input, idx) => {
                        if (input.id.includes(`char${plateIndex}`) || input.id.includes(`num${plateIndex}`)) {
                            input.value = plateValue.charAt(idx) || '';
                        }
                    });
                }

                for (let i = 1; i <= numberOfMatriculas; i++) {
                    const inputs = document.querySelectorAll(`#char${i}_1, #char${i}_2, #char${i}_3, #num${i}_1, #num${i}_2, #num${i}_3`);

                    inputs.forEach(input => {
                        input.addEventListener('input', function () {
                            if (this.value.length === 1) {
                                const nextInput = this.nextElementSibling;
                                if (nextInput && nextInput.tagName === 'INPUT') {
                                    nextInput.focus();
                                }
                            }
                            updatePlate(i);
                        });
                    });
                }
            });
        </script>
    </section>
</body>
</html>
