/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: 'Poppins', sans-serif !important;
}

:root {
    /* ===== Colors ===== */
    --body-color: #d8efde !important;
    --sidebar-color: #FFF !important;
    --primary-color: #0d4b1f !important;
    --primary-color-light: #bfdac7 !important;
    --toggle-color: #DDD !important;
    --text-color: #707070 !important;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease !important;
    --tran-03: all 0.3s ease !important;
    --tran-04: all 0.3s ease !important;
    --tran-05: all 0.3s ease !important;
}

body {
    min-height: 100vh !important;
    background-color: var(--body-color) !important;
    transition: var(--tran-05) !important;
}

::selection {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

body.dark {
    --body-color: #18191a !important;
    --sidebar-color: #242526 !important;
    --primary-color: #3a3b3c !important;
    --primary-color-light: #3a3b3c !important;
    --toggle-color: #fff !important;
    --text-color: #ccc !important;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 250px !important;
    padding: 10px 14px !important;
    background: var(--sidebar-color) !important;
    transition: var(--tran-05) !important;
    z-index: 100 !important;
}

    .sidebar.close {
        width: 88px !important;
    }

    /* ===== Reusable code - Here ===== */
    .sidebar li {
        height: 50px !important;
        list-style: none !important;
        display: flex !important;
        align-items: center !important;
        margin-top: 10px !important;
    }

    .sidebar header .image,
    .sidebar .icon {
        min-width: 60px !important;
        border-radius: 6px !important;
    }

    .sidebar .icon {
        min-width: 60px !important;
        border-radius: 6px !important;
        height: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 20px !important;
    }

    .sidebar .text,
    .sidebar .icon {
        color: var(--text-color) !important;
        transition: var(--tran-03) !important;
    }

    .sidebar .text {
        font-size: 17px !important;
        font-weight: 500 !important;
        white-space: nowrap !important;
        opacity: 1 !important;
    }

    .sidebar.close .text {
        opacity: 0 !important;
    }
    /* =========================== */

    .sidebar header {
        position: relative !important;
    }

        .sidebar header .image-text {
            display: flex !important;
            align-items: center !important;
        }

        .sidebar header .logo-text {
            display: flex !important;
            flex-direction: column !important;
        }

header .image-text .name {
    margin-top: 2px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

header .image-text .profession {
    font-size: 14px !important;
    margin-top: -2px !important;
    display: block !important;
}

.sidebar header .image {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

    .sidebar header .image img {
        width: 53px !important;
        border-radius: 6px !important;
    }

.sidebar header .toggle {
    position: absolute !important;
    top: 50% !important;
    right: -25px !important;
    transform: translateY(-50%) rotate(180deg) !important;
    height: 25px !important;
    width: 25px !important;
    background-color: var(--primary-color) !important;
    color: var(--sidebar-color) !important;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 22px !important;
    cursor: pointer !important;
    transition: var(--tran-05) !important;
}

body.dark .sidebar header .toggle {
    color: var(--text-color) !important;
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg) !important;
}

.sidebar .menu {
    margin-top: 20px !important;
}

.sidebar li.search-box {
    border-radius: 6px !important;
    background-color: var(--primary-color-light) !important;
    cursor: pointer !important;
    transition: var(--tran-05) !important;
}

    .sidebar li.search-box input {
        height: 100% !important;
        width: 100% !important;
        outline: none !important;
        border: none !important;
        background-color: var(--primary-color-light) !important;
        color: var(--text-color) !important;
        border-radius: 6px !important;
        font-size: 17px !important;
        font-weight: 500 !important;
        transition: var(--tran-05) !important;
    }

.sidebar li a {
    list-style: none !important;
    height: 100% !important;
    background-color: transparent !important;
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
    width: 100% !important;
    border-radius: 6px !important;
    text-decoration: none !important;
    transition: var(--tran-03) !important;
}

    .sidebar li a:hover {
        background-color: var(--primary-color) !important;
    }

        .sidebar li a:hover .icon,
        .sidebar li a:hover .text {
            color: var(--sidebar-color) !important;
        }

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color) !important;
}

.sidebar .menu-bar {
    height: calc(100% - 55px) !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    overflow-y: scroll !important;
}

.menu-bar::-webkit-scrollbar {
    display: none !important;
}

.sidebar .menu-bar .mode {
    border-radius: 6px !important;
    background-color: var(--primary-color-light) !important;
    position: relative !important;
    transition: var(--tran-05) !important;
}

.menu-bar .mode .sun-moon {
    height: 50px !important;
    width: 60px !important;
}

.mode .sun-moon i {
    position: absolute !important;
}

    .mode .sun-moon i.sun {
        opacity: 0 !important;
    }

body.dark .mode .sun-moon i.sun {
    opacity: 1 !important;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0 !important;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute !important;
    right: 0 !important;
    height: 100% !important;
    min-width: 60px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 6px !important;
    cursor: pointer !important;
}

.toggle-switch .switch {
    position: relative !important;
    height: 22px !important;
    width: 40px !important;
    border-radius: 25px !important;
    background-color: var(--toggle-color) !important;
    transition: var(--tran-05) !important;
}

.switch::before {
    content: '' !important;
    position: absolute !important;
    height: 15px !important;
    width: 15px !important;
    border-radius: 50% !important;
    top: 50% !important;
    left: 5px !important;
    transform: translateY(-50%) !important;
    background-color: var(--sidebar-color) !important;
    transition: var(--tran-04) !important;
}

body.dark .switch::before {
    left: 20px !important;
}

.home {
    position: absolute !important;
    top: 0 !important;
    left: 269px !important;
    height: 100vh !important;
    width: calc(100% - 289px) !important;
    background-color: var(--body-color) !important;
    transition: var(--tran-05) !important;
}

    .home .text {
        font-size: 30px !important;
        font-weight: 500 !important;
        color: var(--text-color) !important;
        padding-left: 15px !important;
    }

.sidebar.close ~ .home {
    left: 113px !important;
    width: calc(100% - 144px) !important;
}

body.dark .home .text {
    color: var(--text-color) !important;
}
$theme: #454cad;
$dark-text: #5f6982;

html, body, * {
    box-sizing: border-box;
    font-size: 16px;
}

html, body {
    height: 100%;
    text-align: center;
}

body {
    padding: 2rem;
    background: #f8f8f8;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    line-height: 1;
    color: $theme;
    margin-bottom: 0;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: $dark-text;
}

.form-control {
    padding: .375rem .75rem !important;
}