@{
    ViewData["Title"] = "Valorización";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Material Icons -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- CSS personalizado -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/selector.css">
    <link rel="stylesheet" href="~/css/factura.css">
    <link rel="stylesheet" href="~/css/documentos.css">
    <link rel="stylesheet" href="~/css/alert.css">

    <!-- JS Libraries -->
    <script src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>

    <!-- JS Personalizado -->
    <script src="~/config.js"></script>
    <style>
        .select2-dropdown {
            z-index: 9999;
        }
    </style>

</head>

<body>
    <section class="home">
        <main>
            <div class="row" style="margin:0px">
                <div class="subscribe">
                    <br>
                    <div class="submit-btn">VALORIZACIÓN</div>
                </div>

                <div class="container mt-4 mt-md-2">
                    <div class="row align-items-center">
                        <div class="col-md-10 d-md-flex justify-content-end">
                            <label class="input-group-text mb-2 mb-md-0" for="input_transportista">Transportista</label>
                            <select id="input_transportista" class="js-example-placeholder-single js-states form-control">
                                <option></option> <!-- Opción vacía -->
                            </select>

                        </div>

                        <div class="col-md-2 d-flex justify-content-end p-0">
                            <button id="btnConsultar" class="btn btn-primary me-2 bg-custom">Consultar</button>
                            <button id="btnConsultar2" class="btn btn-primary bg-custom" onClick="window.location.reload(true)">
                                <i class='bx bx-refresh'></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div style="padding-bottom: 9px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-sm custom-table" id="table_empresa">
                                    <thead style="color: #023E73;">
                                        <tr>
                                            <th>Ítem</th>
                                            <th>Código</th>
                                            <th>Transportista</th>
                                            <th>Monto</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tb_empresa"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="modal" id="modal_detalles_valorizacion" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width:73% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Detalles de Valorizacion</h5>
                        <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-end" style="justify-content:flex-end !important" id="contenedorBotones1">
                            <button id="downloadPDF">Descargar PDF</button>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="modal_contenido_valorizacion" class="modal-body">

                        <!-- Nueva fila con logo y datos de la empresa -->
                        <table style="width: 100%; border: 1px solid green; border-collapse: collapse; margin-bottom: 20px; height:110px; overflow: hidden;">
                            <tr>
                                <td style="width: 20%; padding: 10px;">
                                    <img src="~/img/gh3.png" alt="Alto Chicama Logo" style="max-width: 100%; height: auto;">
                                </td>
                                <td style="width: 80%; position: relative; border-left: 1px solid green;">
                                    <table style="width: 100%; border-collapse: collapse; position:absolute; top:0; height:100% !important;">
                                        <tr style="width: 100%; border-bottom: 1px solid green;">
                                            <td colspan="2">
                                                <span style="display: flex; justify-content: center; font-weight: 600; font-size: 20px; color: green;">EO-RS ALTO CHICAMA S.R.L</span>
                                            </td>
                                        </tr>
                                        <tbody id="tb_detalles_valorizacion2">
                                        </tbody>

                                    </table>
                                </td>
                            </tr>
                        </table>



                        <div style="height: 30px;"></div>

                        <div class="table-responsive">
                            <!-- Tabla de Valorización -->
                            <table class="" style="width: 100%; border: 1px solid green;" id="table_detail">
                                <thead style="color: #023E73;">
                                    <tr>
                                        <th colspan="7" style="text-align: center; font-weight: 600; font-size: 17px; color: green; border-bottom: 1px solid green;">VALORIZACIÓN POR SERVICIOS | RCD 2024</th>
                                    </tr>
                                    <tr>
                                        <th style="border-right: 1px solid green; font-weight: 600; color: green;">Ítem</th>
                                        <th style="border-right: 1px solid green; font-weight: 600; color: green;">N° Guia</th>
                                        <th style="border-right: 1px solid green; font-weight: 600; color: green;">Fecha</th>
                                        <th style="border-right: 1px solid green; font-weight: 600; color: green;">Tipo</th>
                                        <th style="border-right: 1px solid green; font-weight: 600; color: green;">Cantidad (TN)</th>
                                        <th style="border-right: 1px solid green; font-weight: 600; color: green;">Costo/TN</th>
                                        <th style="border-right: 1px solid green; font-weight: 600; color: green;">Costo Total</th>
                                    </tr>
                                </thead>
                                <tbody id="tb_detalles_valorizacion"></tbody>
                                <tfooter>
                                    <tr style="border-top: 1px solid green;">
                                        <td colspan="4" style="text-align: center; font-weight: bold; border-right: 1px solid green;">TOTAL (TN)</td>
                                        <td style="text-align: center; border-right: 1px solid green;" id="totalCantidadDisplay">0</td> <!-- Muestra el totalCantidad aquí -->
                                        <td style="text-align: center; font-weight: bold; border-right: 1px solid green;">COSTO TOTAL</td>
                                        <td style="text-align: center; border: none !important;" id="totalCostoTotalDisplay">0</td> <!-- Muestra el totalCosto aquí -->
                                    </tr>
                                </tfooter>
                            </table>

                            <!-- Tabla de Resumen -->
                            <div class="row mt-4" style="height: 100%;">
                                <div class="col-md-4" style="border-top: 1px solid green;border-bottom: 1px solid green;border-left: 1px solid green; max-height: 100% !important;">
                                    <div style="border: 1px green; padding: 10px; height: 100%; text-align: center; display: flex; align-items: center; justify-content: center;">
                                        <p style="font-weight: bold; height: 100%;">FIRMA</p>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border: 1px solid green; max-height: 100% !important;">
                                    <table class="table" style="height: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center; font-weight: bold;border-bottom: 1px solid green;">SUB TOTAL</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center; font-weight: bold;border-bottom: 1px solid green;">IGV</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center; font-weight: bold;">PRECIO TOTAL DEL SERVICIO</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-2" style="border-top: 1px solid green;border-bottom: 1px solid green;border-right: 1px solid green;height: 100%;">
                                    <table class="table" style="height: 100%;">
                                        <tbody>
                                            <tr>
                                                <td id="subtotal"></td>
                                            </tr>
                                            <tr>
                                                <td id="valorigv"></td>
                                            </tr>
                                            <tr>
                                                <td id="preciototal"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <style>
        .input-group-sm > .input-group-text {
            min-width: 120px; /* Ajusta este valor según sea necesario */
        }

        .select2-container {
            width: 100% !important;
        }

        .modal-body .input-group-sm {
            margin-bottom: 1rem;
        }

            .modal-body .input-group-sm > .input-group-text,
            .modal-body .input-group-sm > .form-control,
            .modal-body .input-group-sm > .form-select {
                width: 100%;
            }

        body {
            overflow-x: hidden;
        }

    </style>
    <!-- JS Personalizado -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <!-- Agregar estas líneas en el HTML -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/js/js_jquery.dataTables.min.js"></script>
    <script src="~/config.js"></script>
    <script src="~/js/valorizacion.js?v=0.0.0.5"></script>

</body>
</html>
