@{
    ViewData["Title"] = "ValorizacionRegistrar";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/upload.css" rel="stylesheet" />
    <link href="~/css/selector.css" rel="stylesheet" />

    <!-- JS Libraries -->
    <script src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>

    <!-- JS Personalizado -->
    <script src="~/config.js"></script>

</head>
<body>
    <main class="home">
        <section>
            <div class="row" style="margin: 0;">
                <div class="subscribe text-center">
                    <br>
                    <div class="submit-btn">VALORIZACIÓN POR SERVICIOS</div>
                </div>
            </div>
            <div class="row mt-5 mb-4 justify-content-center">
                <!-- Guías -->
                <div class="col-md-9 d-flex align-items-center">
                    <label class="input-group-text" for="input_transportista">Transportista</label>
                    <select id="input_transportista" class="js-example-placeholder-single js-states form-control mx-2">
                        <option value="" disabled selected hidden></option> <!-- Opción vacía, deshabilitada y seleccionada por defecto -->
                    </select>
                </div>
                <div class="col-md-3 d-flex align-items-center">
                    <label class="input-group-text" for="input_codigo">Código</label>
                    <input type="text" id="input_codigo" class="form-control mx-2" placeholder="Ingrese el código" autocomplete="off">
                </div>
            </div>

            <section id="input_tabla_valorizacion" class="tab-panel" style="padding-bottom: 0;">
                <form id="form_edit_unidad_medida">
                    <div class="table-responsive">
                        <!-- Tabla Principal -->
                        <table class="table tabla_valorizacion" id="input_tabla_valorizacion">
                            <thead>
                                <tr>
                                    <th colspan="8" style="text-align: center; background-color: #f8f9fa; font-weight: bold; font-size: 17px; padding: 10px;">VALORIZACIÓN POR SERVICIOS</th>
                                </tr>
                                <tr class="headth">
                                    <!-- Encabezado de la tabla -->
                                    <th style="width: 4%;" class="tabla_valorizacion_th_td" scope="col">Item</th>
                                    <th class="tabla_valorizacion_th_td" style="width: 20%;" scope="col">N Guia</th>
                                    <th class="tabla_valorizacion_th_td" style="width: 15%;" scope="col">Fecha</th>
                                    <th class="tabla_valorizacion_th_td" style="width: 16%;" scope="col">Tipo</th>
                                    <th class="tabla_valorizacion_th_td" style="width: 8%;" scope="col">Cantidad (TN)</th>
                                    <th class="tabla_valorizacion_th_td" style="width: 14%;" scope="col">Costo/TN</th>
                                    <th class="tabla_valorizacion_th_td" style="width: 15%;" scope="col">Costo Total</th>
                                    <th style="width: 8%;">
                                        <i class="bx bx-plus-circle icon-circle add" id="agregar_fila_valorizacion" onclick="agregarFilaValorizacion()"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Aquí se agregarán las filas dinámicamente con JavaScript -->
                            </tbody>
                            <tfoot>
                                <!-- Fila de totales que se alinea con las columnas del encabezado -->
                                <tr>
                                    <!-- Columnas de totales alineadas según las columnas de encabezado -->
                                    <td colspan="4" style="text-align: right; font-weight: bold;">TOTAL (TN)</td>
                                    <td style="width: 12%;">
                                        <input type="number" id="totalCantidad" placeholder="Total Cantidad" class="form-control" readonly>
                                    </td>
                                    <td colspan="1" style="text-align: center; font-weight: bold;">COSTO TOTAL</td>
                                    <td style="width: 15%;">
                                        <input type="number" id="totalCostoTotal" placeholder="Total Costo Total" class="form-control" readonly>
                                    </td>
                                    <td style="text-align: center; padding-top: 10px;">
                                        <button type="button" id="guardar_valorizacion" class="icon-circle" style="width: 50px; height: 50px; border-radius: 0; border: 2px solid #007bff; background-color: transparent;">
                                            <i class="bx bx-save" style="font-size: 24px; color: #007bff;"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            </section>

            <!-- Espacio adicional y tabla para el resumen final -->
            <br>

            <!-- Tabla del resumen del servicio con líneas de separación y celdas combinadas -->
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <!-- Columna vacía que abarca todas las filas en el lado izquierdo -->
                        <td rowspan="3" style="width: 54.4%;"></td> <!-- Columna vacía con rowspan para abarcar 3 filas -->
                        <!-- Primera fila con SUB TOTAL -->
                        <td style="text-align: center; font-weight: bold;width: 25%;">SUB TOTAL</td>
                        <!-- Columna de resultado para SUB TOTAL -->
                        <td style="width: 16.8%;">
                            <input type="text" class="form-control" id="subtotal" value="0.0" readonly>
                        </td> <!-- Columna de resultado fila 1 -->
                    </tr>
                    <tr>
                        <!-- Segunda fila con IGV 18% -->
                        <td style="text-align: center; font-weight: bold;width: 25%;">IGV 18%</td>
                        <!-- Columna de resultado para IGV 18% -->
                        <td style="width: 16.8%;">
                            <input type="text" class="form-control" id="igv" value="0.0" readonly>
                        </td> <!-- Columna de resultado fila 2 -->
                    </tr>
                    <tr>
                        <!-- Tercera fila con PRECIO TOTAL DEL SERVICIO -->
                        <td style="text-align: center; font-weight: bold;width: 25%;">PRECIO TOTAL DEL SERVICIO</td>
                        <!-- Columna de resultado para PRECIO TOTAL DEL SERVICIO -->
                        <td style="width: 16.8%;">
                            <input type="text" class="form-control" id="precio_total" value="0.0" readonly>
                        </td> <!-- Columna de resultado fila 3 -->
                    </tr>
                </tbody>
            </table>

            <!-- Espacio adicional y tabla para el resumen final -->
            <br>

        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/config.js"></script>
    <script src="js/upload.js"></script> <!-- Incluyendo el archivo separado para el modal -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</body>
</html>
